<div class="d-none d-md-inline">
    <app-sidebar></app-sidebar>
</div>
<app-top-bar></app-top-bar>
<div class="container">
    <div class="row">
        <div class="col-md-7 offset-md-3">
            <div class="card my-4">

                <form class="card-body cardbody-color p-lg-4" [formGroup]="passwordForm" (ngSubmit)="submit()">

                    <div class="text-center">
                        <h5 class="">Genrate New Password</h5>
                        <p class="mb-0">We received your reset password request. Please enter your new password!</p>
                    </div>

                    <div class="text-center">
                        <img src="https://cdn.pixabay.com/photo/2016/03/31/19/56/avatar-1295397__340.png"
                            class="img-fluid profile-image-pic img-thumbnail rounded-circle my-3" width="200px"
                            alt="profile">
                    </div>

                    <div class="mb-4 form-group">
                        <label for="Password" class="form-label">New Password</label>
                        <div class="input-group" id="show_hide_password">
                            <input type="password" class="form-control border-end-0" id="Password"
                                placeholder="Enter New Password" formControlName="password"
                                [type]="showPassword ? 'text' : 'password'">
                            <!-- [(ngModel)]="password" -->
                            <a href="javascript:;" class="input-group-text bg-transparent"
                                (click)="toggleShowPassword()">
                                <svg xmlns="http://www.w3.org/2000/svg" *ngIf="!showPassword" width="16" height="16"
                                    fill="currentColor" class="bi bi-eye-fill" viewBox="0 0 16 16">
                                    <path d="M10.5 8a2.5 2.5 0 1 1-5 0 2.5 2.5 0 0 1 5 0" />
                                    <path
                                        d="M0 8s3-5.5 8-5.5S16 8 16 8s-3 5.5-8 5.5S0 8 0 8m8 3.5a3.5 3.5 0 1 0 0-7 3.5 3.5 0 0 0 0 7" />
                                </svg>
                                <svg xmlns="http://www.w3.org/2000/svg" *ngIf="showPassword" width="16" height="16"
                                    fill="currentColor" class="bi bi-eye-slash-fill" viewBox="0 0 16 16">
                                    <path
                                        d="m10.79 12.912-1.614-1.615a3.5 3.5 0 0 1-4.474-4.474l-2.06-2.06C.938 6.278 0 8 0 8s3 5.5 8 5.5a7.029 7.029 0 0 0 2.79-.588M5.21 3.088A7.028 7.028 0 0 1 8 2.5c5 0 8 5.5 8 5.5s-.939 1.721-2.641 3.238l-2.062-2.062a3.5 3.5 0 0 0-4.474-4.474L5.21 3.089z" />
                                    <path
                                        d="M5.525 7.646a2.5 2.5 0 0 0 2.829 2.829l-2.83-2.829zm4.95.708-2.829-2.83a2.5 2.5 0 0 1 2.829 2.829zm3.171 6-12-12 .708-.708 12 12z" />
                                </svg>
                            </a>
                            <div *ngIf="f['password'].errors?.['invalidPassword'] !== null && (f['password'].touched ?? false)"
                                class="text-danger">
                                <!-- Show password validation error -->
                                Password must contain at least 8 characters, including
                                uppercase, lowercase, number, and special character.
                            </div>
                        </div>
                    </div>
                    <div class="mb-4 form-group">
                        <label class="form-label">Confirm Password</label>
                        <div class="input-group" id="show_hide_password">
                            <input type="password" class="form-control border-end-0" id="confirmPassword"
                                placeholder="Confirm Password" formControlName="password"
                                [type]="showPassword ? 'text' : 'password'">
                            <!-- [(ngModel)]="password" -->
                            <a href="javascript:;" class="input-group-text bg-transparent"
                                (click)="toggleShowPassword()">
                                <svg xmlns="http://www.w3.org/2000/svg" *ngIf="!showPassword" width="16" height="16"
                                    fill="currentColor" class="bi bi-eye-fill" viewBox="0 0 16 16">
                                    <path d="M10.5 8a2.5 2.5 0 1 1-5 0 2.5 2.5 0 0 1 5 0" />
                                    <path
                                        d="M0 8s3-5.5 8-5.5S16 8 16 8s-3 5.5-8 5.5S0 8 0 8m8 3.5a3.5 3.5 0 1 0 0-7 3.5 3.5 0 0 0 0 7" />
                                </svg>
                                <svg xmlns="http://www.w3.org/2000/svg" *ngIf="showPassword" width="16" height="16"
                                    fill="currentColor" class="bi bi-eye-slash-fill" viewBox="0 0 16 16">
                                    <path
                                        d="m10.79 12.912-1.614-1.615a3.5 3.5 0 0 1-4.474-4.474l-2.06-2.06C.938 6.278 0 8 0 8s3 5.5 8 5.5a7.029 7.029 0 0 0 2.79-.588M5.21 3.088A7.028 7.028 0 0 1 8 2.5c5 0 8 5.5 8 5.5s-.939 1.721-2.641 3.238l-2.062-2.062a3.5 3.5 0 0 0-4.474-4.474L5.21 3.089z" />
                                    <path
                                        d="M5.525 7.646a2.5 2.5 0 0 0 2.829 2.829l-2.83-2.829zm4.95.708-2.829-2.83a2.5 2.5 0 0 1 2.829 2.829zm3.171 6-12-12 .708-.708 12 12z" />
                                </svg>
                            </a>
                            <div *ngIf="f['password'].errors?.['invalidPassword'] !== null && (f['password'].touched ?? false)"
                                class="text-danger">
                                <!-- Show password validation error -->
                                Password must contain at least 8 characters, including
                                uppercase, lowercase, number, and special character.
                            </div>
                        </div>
                    </div>
                    <div class="text-center">
                        <button type="submit" class="btn btn-color px-5 mb-3 w-100" (click)="updatePassword()"
                            [disabled]="passwordForm.invalid">
                            Change Password
                        </button>
                    </div>
                </form>
            </div>

        </div>
    </div>
</div>